@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    color: rgb(46, 44, 44);
}

.orangecolor {
    color: #C68313;
}

section, article, aside, footer, header, nav {
    display: block;
}

/* header  */

header {
    display: flex;
    height: 50px;
    /* background-color: bisque; */
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.heading {
    display: flex;
    gap: 16px;
    padding-left: 20px;
}

.heading h1 {
    font-weight: 500;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
}

button {
    margin-right: 20px;
    background-color: #C68313;
    padding: 10px 16px;
    border-radius: 8px;
    border: #C68313;
    color: white;
    font-size: 15px;
}


/* Section Hero */
.main-section-hero {
    height: 750px;
    /* background-color: rgb(160, 181, 199); */
}

.sub-section-hero {
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    justify-content: space-between;
}

.hero-con1 {
    /* padding-top: 50px; */
    padding-left: 100px;
    width: 800px;
}

.high-growth {
    background-color: #ead1a8;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;
    border-radius: 10px;
}

.high-growth, .growthSpace, .texthero, .button-hero{
    margin-bottom: 20px;
}

.simplifyGrowth {
    font-size: 40px;
 }

.growthSpace {
    font-size: 60px;
    font-weight: 600;
}


.button-hero .services {
    background-color: white;
    border: 2px solid #C68313;
}

.hero-images {
    width: 600px;
}

.hero-images img {
    width: 500px;
    margin-top: 80px;
}

.hero-con2 {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    height: 100px;
    justify-content: flex-end;
}

.our-partners {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.img-partners {
    display: flex;
    gap: 40px;
}

/* SECTION SERVICES */

.section-service {
    height: 830px;
    /* background-color: rgb(160, 181, 199); */
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 80px;
}


.service-images-astro {
    width: 450px;
    padding-top: 120px;
}

.our-service {
    background-color: #ead1a8;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.service-text {
    padding: 10px;
    width: 650px;
}

.multiple-service {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.icon {
    border: 3px solid #C68313;
    border-radius: 15px;
    width: 270px;
    display: flex;
    height: 170px;
    align-items: center;
    justify-content: space-evenly;
}

.icon-text {
    /* margin-left: -20px; */
    padding-right: 20px;
}

.icon-text p {
    font-size: 20px;
    font-weight: 500;
}

/* SECTION INFO */

.section-info {
    height: 830px;
    /* background-color: rgb(160, 181, 199); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.info-world {
    font-size: 120px;
    font-weight: 600;
    margin-top: -50px;
}

.info {
    width: 500px;
    margin-left: 100px;
    /* margin-top: 100px; */
}

.info-images {
    margin-right: 100px;
}

.texthero {
    font-weight: 450;
}

/* SECTION REVIEW */

.section-review {
    height: 830px;
    /* background-color: rgb(160, 181, 199); */
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.review {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.our-review {
    margin-bottom: 40px;
    background-color: #ead1a8;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.simplifyReview {
    font-size: 60px;
    margin-bottom: 40px;
}

.textreview {
    font-size: 18px;
    text-align: center;
    width: 600px;
    margin-bottom: 40px;
}

.boxreview{
    display: flex;
    gap: 20px;
}

.boxreviewsmall {
    border: 3px solid #C68313;
    padding: 15px;
    border-radius: 20px;
    width: 280px;
    height: 200px;
}

.boxreviewsmall-text p{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

/* SECTION FOOTER */

.footer {
    padding: 40px 100px 0 100px;
    /* background-color: rgb(160, 181, 199); */
}

.footer .lines{
    border-top: 5px solid #C68313;
}

.footer .content {
    /* border: 1px solid black; */
    height: 500px;
}

.box {
    /* border: 1px solid white; */
}

.content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap:80px;
}

.epzoc-space {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subEpzoc-space {
    margin-bottom: 20px;
}

.subEpzoc-space .big {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.weight {
    font-weight: 600;
}

.small {
    font-size: 13px;
}
.subContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subsubContent {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.subFooter-icon {
    display: flex;
    justify-content: flex-end;
}

.copyright {
    text-align: center;
    background-color: #C68313;
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
}

.footer-text {
    font-size: 23px;
    margin-bottom: 20px;
}

.boxFooter-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;

}