@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    color: rgb(46, 44, 44);
}

.orangecolor {
    color: #C68313;
}

section, article, aside, footer, header, nav {
    display: block;
}

/* header  */

header {
    display: flex;
    height: 50px;
    /* background-color: bisque; */
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.heading {
    display: flex;
    gap: 16px;
    padding-left: 20px;
}

.heading h1 {
    font-weight: 500;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
}

button {
    margin-right: 20px;
    background-color: #C68313;
    padding: 10px 16px;
    border-radius: 8px;
    border: #C68313;
    color: white;
    font-size: 15px;
}


/* Section Hero */
.main-section-hero {
    height: 750px;
    /* background-color: rgb(160, 181, 199); */
}

.sub-section-hero {
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
    justify-content: space-between;
}

.hero-con1 {
    /* padding-top: 50px; */
    padding-left: 100px;
    width: 800px;
}

.high-growth {
    background-color: #ead1a8;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;
    border-radius: 10px;
}

.high-growth, .growthSpace, .texthero, .button-hero{
    margin-bottom: 20px;
}

.simplifyGrowth {
    font-size: 40px;
 }

.growthSpace {
    font-size: 70px;
    font-weight: 600;
}


.button-hero .services {
    background-color: white;
    border: 2px solid #C68313;
}

.hero-images {
    width: 600px;
}

.hero-images img {
    width: 500px;
    margin-top: 80px;
}

.hero-con2 {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    height: 100px;
    justify-content: flex-end;
}

.our-partners {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.img-partners {
    display: flex;
    gap: 40px;
}

/* SECTION SERVICES */

.section-service {
    height: 830px;
    /* background-color: rgb(160, 181, 199); */
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 80px;
}


.service-images-astro {
    width: 450px;
    padding-top: 120px;
}

.our-service {
    background-color: #ead1a8;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.service-text {
    padding: 10px;
    width: 650px;
}

.multiple-service {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.icon {
    border: 3px solid #C68313;
    border-radius: 15px;
    width: 270px;
    display: flex;
    height: 170px;
    align-items: center;
    justify-content: space-evenly;
}

.icon-text {
    /* margin-left: -20px; */
    padding-right: 20px;
}

.icon-text p {
    font-size: 20px;
    font-weight: 500;
}